*{
    box-sizing: border-box;
}

body{
    background-color: rgb(16, 16, 65);
    color: rgb(250, 250, 143);
}
nav h1{
border-bottom: 2px solid white;
float: left;
margin-bottom: 5px;
}
nav a{
    float: right;
    color: rgb(250, 250, 143) ;
    text-decoration: none;
    margin: 4px;
}
 .join img{
    margin-top: 60px;
    width: 80%;
    height: 280px;
    

} 
.movie{
     display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around; 
}